body{
	margin: 0;
	font-family: 'sans-serif', Arial, Helvetica;
	font-size: 16px;
	line-height: 30px;
}

header{
	background-color:#ED8911;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 55px;
}

header h1{
	color: white;
}

header img{
	border-radius: 160px;
	width: 300px;
	border: 10px solid #060606;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #1738DD;
	margin: 40px 0 10px;

}

a{
	color: #1738DD;
}

a:hover{
	color: white;
	background-color: #F1F108;
}

footer{
	background-color:#ED8911;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: navy;
	margin-top: 0;
	font-style: italic;
}